%header
  %h2= yield :page_title

  - if user_signed_in?
    .dropdown
      %ul.dropdown-menu{role: 'menu', 'aria-labelledby': 'dLabel'}
        %li= link_to t('pages.nav_bar.dashboard'), dashboard_path
        %li= link_to t('pages.nav_bar.logout'), destroy_user_session_path, method: :delete

    .partner-profile-left
      = image_tag current_user_role_avatar, class: 'img img-thumbnail img-circle'
      %span.short-user-info
        %span
          = current_user.name
        %span.user-role
          =  'Daycare %s' % current_user.role.humanize