<li>
  <div class="form-group field">
    <%= f.label :text %>
    <%= f.text_field :text, :class => 'form-control' %>
    <h3>Options</h3>
    <ol class="options">
      <%= f.fields_for :options do |builder| %>
          <%= render "option_fields", :f => builder %>
      <% end -%>
    </ol>
    <%= link_to_add_field "Add a new Option", f, :options %>
    <%= link_to_remove_field "Remove Question", f %>
  </div>
</li>