.row
  %ul.col-md-6
    %li
      %a.record-item{href: 'javascript:;', style: "color: #2f363d;text-decoration: none;"}
        .department-todo
          .todo-command
            .detail-box
              %h4=record.illness_name
          %span.todo-footer
            = record.department.name
  .col-md-6{style: 'margin: 20px 0;'}
    %label=t('dashboard.label.department')
    = select_tag :department_id, options_from_collection_for_select(current_user.daycare.departments, 'id', 'name'), class: 'form-control department-select'
    %label{style: 'margin-top: 10px;'}=t('dashboard.label.alert_to')
    = select_tag :category_id, options_for_select([[t('account.daycare.parentee'), 0], [t('account.daycare.worker'), 1]]), class: 'form-control department-select'
    .row.main{style: 'margin-top: 10px;min-height: 0;padding-bottom: 0;'}
      .col-md-6.form-buttons{style: 'margin: 0 0 10px 0;'}
        %a#notificaion_back{href: 'javascript:;', class: 'btn btn-gray btn-wizard', "data-id": record.id}= t('form_labels.back')
      .col-md-6.form-buttons{style: 'margin: 0 0 10px 0;'}
        %a#notificaion_send_approve{href: 'javascript:;', class: 'btn btn-yellow-red btn-wizard', "data-id": record.id}= t('form_labels.send')
