.page-header
  .container
    .col-md-9.col-sm-8.col-xs-10.no-h-padding
      .col-md-2.col-sm-3.col-xs-10.header-logo
        = image_tag LocaleLogo.by_type_language(1, I18n.locale).first.nil? ? 'logo-new.png' : LocaleLogo.by_type_language(1, I18n.locale).first.logo.url, id: 'header-logo'
      .col-md-10.col-sm-9.col-xs-12.hide
        %h4.stuff-parent=t('dashboard.nav_var.staff_parent') 
        .row
          .col-sm-6.col-xs-6.header-item
            = image_tag 'manager-nm.png'
            %span 387
          .col-sm-6.col-xs-6.header-item
            = image_tag 'parent-nm.png'
            %span 387
    - if user_signed_in?
      .col-md-3.col-sm-4.col-xs-2.account-thumb.no-h-padding.dropdown
        %span.avatar
          = image_tag 'account-avatar.png'
          %span.account-info
            %span=current_user.name
            %span.account-type=t('account.daycare.manager')
        %ul.dropdown-menu{role: 'menu', 'aria-labelledby': 'dLabel'}
          %li= link_to t('dashboard.nav_var.link.edit_info'), edit_user_registration_path(id: current_user.id, role: current_user.role)
          - if current_user.role == "manager"
            %li= link_to t('dashboard.nav_var.link.invite'), invite_manager_daycares_path
          %li= link_to t('dashboard.nav_var.link.logout'), destroy_user_session_path, method: :delete
