.notification-box
  .row
    %span.panel-title Notification
  .row.panel-content
    %span.item-title 
      = image_tag 'todo-md.png'
      ToDo List
    .row.item-content
      - current_user.all_todos.each_with_index do |todo, index|
        .col-md-1.col-sm-2.col-xs-2.text-center
          %span.item-number
            = index+1
        .col-md-11.col-sm-10.col-xs-10.no-h-padding
          = link_to manager_todo_path(todo) do
            %span.item-description 
              = truncate(todo.title, length: 12)
    %span.item-title 
      = image_tag 'message-md.png'
      Messages
    .row.item-content
      - notif_per_source_type(@notifications, 'Message').each do |notif, index|    
        .col-md-1.col-sm-2.col-xs-2.text-center
          %span.item-number 
            = index+1
        .col-md-11.col-sm-10.col-xs-10.no-h-padding
          = link_to list_messages_path(role: current_user.role, list_type: 'received', notification_id: notif.id)  do
            %span.item-description 
              = notif_sender_name(notif)
