<h3>Manager dashboard</h3>
<%= render 'shared/menu' %>
<hr>
<%= link_to 'ADD NEW TODO', new_manager_todo_path %>
<h4>MY DAYCARE TODOS</h4>
<ul>
    <% current_user.local_todos.each do |todo| %>
        <li>
            <%= todo.title %>
            <%= link_to 'Show', manager_todo_path(todo) %>
            <%= link_to 'Edit', edit_manager_todo_path(todo) %>
        </li>
    <% end %>
</ul>

<h4>GLOBAL TODOS</h4>
<ul>
    <% current_user.global_todos.each do |todo| %>
        <li>
            <%= link_to 'Show', manager_todo_path(todo) %>
            <%= todo.title %>
        </li>
    <% end %>
</ul>
