.parentee-dash-container
  = render 'nav_header'
  .container
    .row.content-header
    .row.content-main
      .col-md-5.col-sm-6.col-xs-12
        #main-menu
          .menu-items
            = link_to results_subjects_path do
              = image_tag 'dashboard-risk.png'
              %span Risk Assessment
            = link_to instruction_path do
              = image_tag 'dashboard-instruction.png'
              %span=t('dashboard.menu_item.instruction') 
            = link_to list_messages_path(role: current_user.role, list_type: 'received'), 'data-step': '15', 'data-intro': t('user_guide.menu.parent_message') do
              = image_tag 'dashboard-com-mng.png'
              %span=t('dashboard.menu_item.communication')
            = link_to role_parentee_illness_guides_path, id: 'item_illness' do
              = image_tag 'dashboard-ilness-rec.png'
              %span=t('dashboard.menu_item.illness_guide')
            /= link_to dashboard_manager_todos_path do
            /  = image_tag 'dashboard-ilness.png'
            /  %span ILLNESS ANALYTIC
            /= link_to set_filters_manager_illnesses_path do
            /  = image_tag 'dashboard-ilness-rec.png'
            /  %span ILLNESS Record
            /= link_to manager_messages_path do
            /  = image_tag 'dashboard-talk.png'
            /  %span Health Talk
      .col-md-7.col-sm-6.col-xs-12
        = render 'notifications'
:javascript
  jQuery(document).ready(function() {
    $('body').css("src","background-color: #242c3f !important;");
    $('footer.normal .container').css("top", "0");
    $('footer.normal .container .central-footer').css("display", "none");
  });        