.row
  .col-md-4
    .form-group
      = label_tag :target_role, 'Show only messages received from'
      = select_tag :target_role, options_for_select(Message.allowed_senders_for_role(current_user.role).map{|role| [role.humanize.pluralize, role]}, selected: params['target_role']), class: 'select', prompt: 'Choose Sender'

  .col-md-4
    .form-group
      = label_tag :start_date
      = text_field_tag :start_date, params['start_date'], class: 'datepicker form-control'

  .col-md-4
    .form-group
      = label_tag :end_date
      = text_field_tag :end_date, params['end_date'], class: 'datepicker form-control'

.row
  .col-md-4
  .col-md-4.form-buttons.centralize
    = link_to 'Apply filters', '#', class: 'btn btn-raised btn-info', id: 'apply-message-filters'
  .col-md-4
