<div class="fields">
    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </div>
    <%= custom_link_to_remove_fields "Remove", f %>
</div>