<div class="fields">
    <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= custom_link_to_remove_fields "Remove", f %>
</div>