<% content_for :page_title, @todo.title %>
<% content_for :previous_path, manager_todos_path %>

<div class="row" id="todo">
  <div class="twelvecol">
    <% unless @todo.global? %>
      <%= link_to 'Edit', edit_manager_todo_path(@todo), :class => 'btn btn-normal btn-green', id: 'edit-todo' %>
    <% end %>
    <%= link_to 'Report', manager_todo_reports_set_date_range_path(@todo), :class => 'btn btn-normal btn-orange', id: 'report-todo' %>
    <div class="icon">
      <%= image_tag @todo.icon.file.thumb %>
    </div>
    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" readonly="true" value="<%= @todo.title %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Iteration Type</label>
        <input type="text" readonly="true" value="<%= @todo.iteration_type.titleize %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Frequency</label>
        <input type="text" readonly="true" value="<%= @todo.frequency.titleize %>" class="form-control">
      </div>
      <div class="page-header">
        <h2>Tasks</h2>
      </div>
      <ol>
        <% @todo.tasks.each do |tk| %>
          <li>
            <b>Title</b>
            <p><%= tk.title %></p>
            <b>Description</b>
            <p><%= tk.description %></p>
          </li>
        <% end %>
      </ol>
    </form>
  </div>
</div>