<%= form_for [:admin, @todo] do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :iteration_type %><br>
    <%= f.select :iteration_type, Todo.iteration_types.keys.map {|type| [type.titleize,type]} %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.select :frequency, Todo.frequencies.keys.map {|type| [type.titleize,type]} %>
  </div>
  <h5>Tasks</h5>
  <hr>
  <%= f.fields_for :tasks do |ff |%>
    <div class="field">
      <%= f.label :title %><br>
      <%= ff.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= ff.text_area :description %>
    </div>
  <% end %>
  <hr>
  <h5>Departments</h5>
  <div class="field">
    <%= f.collection_select :department_ids, @departments, :id, :name, {}, {:class => 'chosen', multiple: true, data: {placeholder: "Select departments..."}} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
