- content_for :page_title, t('manager.todos.labels.task_manager')
- content_for :previous_path, manager_reports_todo_set_date_range_path(@todo)
.todo-dash-container
  .container
    .row
      .col-md-12.form-group
        %label=t('manager.todos.report.start_date')
        %input.form-control{type: 'text', value: params[:start_date].to_datetime.strftime('%d/%m/%Y at %I:%M%p')}
      .col-md-12.form-group
        %label=t('manager.todos.report.end_date')
        %input.form-control{type: 'text', value: params[:end_date].to_datetime.strftime('%d/%m/%Y at %I:%M%p')}
      .col-md-12.form-group
        %label=t('manager.todos.report.title')
        %input.form-control{type: 'text', value: @todo.title}

    #todo.row.todo-report-info
      .twelvecol
        %a#print-todo.btn.btn-normal.btn-yellow{:href => "#"} Print
        .profile-thumb
          = image_tag @todo.icon.file, class: 'img-responsive center-block' unless @todo.icon.nil?
        .info
          %h2=t('manager.todos.labels.add_filter') 
          - unless @department.nil?
            %p
              =t('manager.todos.labels.department')             
              = @department.name
          %p
            =t('manager.todos.labels.start_date')             
            = params[:start_date].to_datetime.strftime('%d/%m/%Y at %I:%M%p')
          %p
            =t('manager.todos.labels.end_date')           
            = params[:end_date].to_datetime.strftime('%d/%m/%Y at %I:%M%p')
      - if @todo_completes.empty?
        .row
          .alert.alert-warning
            %i.icon-warning
            =t('manager.todos.report.none_message') 
        .ln_solid
      - @todo.tasks.each_with_index do |task, index|
        - @report = TodoReporter.new(todo_completes: @todo_completes, task_id: task.id).percentages
        .row.todo-report
          .sixcol
            %h3= task.title
            %p= task.description
            %p
              =t('manager.todos.labels.complete')               
              %span.yellow= @report[:complete].round
            %p
              =t('manager.todos.labels.incomplete')               
              %span.red= @report[:incomplete].round
          .sixcol.last
            %canvas.pie-chart{:height => "150", :id => "piePaymentTypeChart#{task.id}", :width => "150"}
            = render partial: 'shared/chart/pie', format: [:html], locals: { datasets:  Hash(complete: { value: @report[:complete].round, color: "#ffc30b" }, incomplete: { value: @report[:incomplete].round, color: '#ff5637' }), id: "piePaymentTypeChart#{task.id}"}
