<%= form_for(@survey, :url => survey_scope(@survey)) do |f| %>
  <% if f.object.errors.messages.any? %>
    <ul>
      <% f.object.errors.messages.each_pair do |field, msg| %>
        <li>
          <%= "#{field} - #{msg}" %>
        </li>
      <% end -%>
    </ul>
  <% end -%>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :active %>
    <%= f.select :active, ["true", "false"], {}, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "100x5", :class => 'form-control' %>
  </div>
  <h3>
  <div class="page-header">
    <h2>Questions</h2>
  </div>
  <div id="questions" class="multi-field field">
    <ol>
      <%= f.fields_for :questions do |builder| %>
          <%= render "question_fields", :f => builder %>
      <% end %>
    </ol>
    <%= link_to_add_field "Add Question", f, :questions %>
  </div>
  <%= f.submit 'Save', :class => 'btn btn-blue btn-large btn-block' %>
<% end -%>