<% content_for :page_title, "Surveys Dashboard" %>
<% content_for :previous_path, dashboard_path %>

<div id="main-menu">
    <div class="row">
        <div class="eightcol">
            <div class="menu-items">
                <%= link_to new_manager_survey_path, :class => 'create' do %>
                    <%= image_tag 'create.png' %>
                    <span>Create</span>
                <% end %>
                <%= link_to manager_surveys_path, :class => 'access' do %>
                    <%= image_tag 'view.png' %>   
                    <span>Access</span>
                <% end %>
                <a href="#" class="report">
                    <%= image_tag 'report.png' %>
                    <span>Report</span>
                </a>
            </div>
        </div>
        <div class="fourcol last">
        </div>
    </div>
</div>