<h1>Dashboard</h1>
<ul>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'Todos', admin_todos_path %></li>
    <li><%= link_to 'Daycares', admin_daycares_path %></li>
    <li><%= link_to 'Discount Codes', admin_discount_codes_path %></li>
    <li><%= link_to 'Plans', admin_plans_path %></li>
    <li><%= link_to 'Departments', admin_departments_path %></li>
</ul>