%h4.step-instruction Please Edit and Save Message :

= form_for [:admin, @template] do |f|
  = hidden_field_tag :subject_title, params[:subject_title]
  = hidden_field_tag :sub_subject_title, params[:sub_subject_title]
  = f.hidden_field :target_role, value: params[:target_role] || @template.target_role

  %fieldset
    = f.text_area :content, id: 'message_template_content'

  .form-buttons
    .col-md-6
      - if @template.present?
        %a{href: :back, class: 'btn btn-raised btn-info'} Cancel
      - else
        %a{href: recipient_admin_message_templates_path(params), class: 'btn btn-raised btn-info'} Back
    .col-md-6
      %input{type: 'submit', name: 'submit', class: 'submit btn btn-raised btn-success', value: 'Save'}
