= form_for [:admin, @template] do |f|
  = hidden_field_tag :subject_title, params[:subject_title]
  = hidden_field_tag :sub_subject_title, params[:sub_subject_title]
  = f.hidden_field :target_role, value: params[:target_role] || @template.target_role

  %fieldset
    .form-group
      %label.step-instruction{for: 'language'} Please Select the language :
      = f.select :language, options_for_select(options_for_template_localizations, I18n.default_locale), {}, class: 'select'

    .form-group
      %label.step-instruction{for: 'content'} Please Edit and Save Message :
      = f.text_area :content, id: 'message_template_content'

    - if action_name != 'edit'
      .form-group
        %label.step-instruction Or Upload Message Template File
        %input{type: 'file', name: 'upload_template', id: 'upload-template'}
        .input-group
          %input{type: 'text', readonly: '', class: 'form-control', placeholder: 'Upload file'}
          %span.input-group-btn.input-group-sm
            %button{type: 'button', class: 'btn btn-fab btn-fab-mini'}
              %i.material-icons attach_file

  .form-buttons
    .col-md-6
      - if @template.present?
        %a{href: admin_message_templates_path, class: 'btn btn-raised btn-info'} Cancel
      - else
        %a{href: recipient_admin_message_templates_path(params), class: 'btn btn-raised btn-info'} Back
    .col-md-6
      = submit_tag 'Save', class: 'btn btn-raised btn-success'

:javascript
  $.material.init();

  $('#message_template_content').froalaEditor({
    heightMin: 250
  });

  // readable files : [*.html, *.txt]
  $('#upload-template').on('change', function() {
    var file = this.files[0]
    var reader = new FileReader();

    if (file.type.match('text.*')) {
      reader.onload = function(progressEvent){
        $('#message_template_content').val(this.result)
        $('#message_template_content').froalaEditor('html.set', this.result);
      };
      reader.readAsText(file);
    }
    else {
      alert('Invalid file! Please upload text file only.');
    }

  });
