= content_for :title, 'New Template'
- step_size = 5
- page_step = 1

.row
  .page-header
    %h3= choose_template_header

.row
  = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}

.row#main-menu
  %h4.step-instruction Please Choose your template :

  .menu-items
    .col-md-6.centralize
      = link_to subject_admin_message_templates_path, class: 'btn btn-raised pull-right' do
        = image_tag 'template-create.png'
        %span Create Template
    .col-md-6.centralize
      = link_to upload_template_admin_message_templates_path, class: 'btn btn-raised' do
        = image_tag 'template-upload.png'
        %span Upload Template
