= content_for :title, 'New Template'
- page_step = 1

.row
  .page-header
    %h3= choose_template_header

.row
  = render partial: 'progress_bar', locals: {page_step: page_step}

.row#main-menu
  %h4.step-instruction Please Choose your template :

  .menu-items
    .col-md-6
      = link_to subject_admin_message_templates_path, class: 'btn btn-raised pull-right' do
        = image_tag 'message.png'
        %span Create Template
    .col-md-6
      = link_to upload_template_admin_message_templates_path, class: 'btn btn-raised' do
        = image_tag 'create.png'
        %span Upload Template
