= content_for :title, 'Edit Template'

.row
  .page-header
    %h3= edit_template_header


= form_tag filter_admin_message_templates_path, method: :post do
  .row
    .col-md-6
      .form-group#subject-filter
        %label.step-instruction{for: 'subject_id'} Filter by Subject :
        = select_tag :subject_id, options_from_collection_for_select(@subjects, 'id', 'title'), class: 'select', prompt: 'Please choose subject'

    .col-md-6
      .form-group#sub-subject-filter
        %label.step-instruction{for: 'sub_subject_id'} Filter by Sub-subject :
        = select_tag :sub_subject_id, options_for_select(options_for_sub_subject_select), class: 'select', prompt: 'Please choose sub-subject', required: true

  .row
    .col-md-12
      .form-group
        %label.step-instruction{for: 'target_role'} Please choose target recipient :
        - MessageTemplate.target_roles.each do |target_role|
          .radio.radio-primary
            %label
              %input{type: 'radio', name: 'target_role', value: target_role[0], checked: true}
              = target_role[0].humanize

  .form-buttons
    = submit_tag 'Apply Filters', class: 'btn btn-raised btn-success'

:javascript
  $.material.init();

  $('select#subject_id').on('change', function() {
    var subjectId = $(this).val();
    var subSubjects = $('#sub-subject-filter').find('select option[data-parent_id="' + subjectId + '"]');
    var subSubjectsValue = $.map(subSubjects, function(a) {return parseInt($(a).val())});

    var dropdownjsList = $('#sub-subject-filter').find('.dropdownjs ul li');

    $.each(dropdownjsList, function(idx, subSubjectLi) {
      li = $(subSubjectLi);

      if ($.inArray(li.val(), subSubjectsValue) > -1) {
        li.show();
      }
      else {
        li.hide();
      }
    });
  });
