= content_for :title, 'Edit Template'

.twelvecol
  .page-header
    %h2.widget.widget-header= edit_template_header

.twelvecol.edit-filters
  #subject-filters.fourcol
    %h4 Filter by Subject :
    %ul
      - @subjects.each do |subject|
        %li.subject-filter{'data-subject_id': subject.id}
          = subject.title

  #sub-subject-filters.fourcol
    %h4 Filter by Sub-subject :
    %ul
      - @subjects.map(&:sub_subjects).flatten.each do |sub_subject|
        %li.sub-subject-filter{'data-parent_subject_id': sub_subject.parent_subject_id, 'data-sub_subject_id': sub_subject.id}
          = sub_subject.title

  #target-role-filters.threecol
    %h4 Filter by Recipient :
    %ul
      - MessageTemplate.target_roles.each do |target_role|
        %li.target-role-filter{'data-target_role': target_role[0]}
          = target_role[0].humanize

.twelvecol.apply-filter
  %input#apply-filter-btn{type: 'button', name: 'apply_filter', class: 'action-button', value: 'Apply filters'}
  %span.loader
    = image_tag 'ajax-loader.gif'

.twelvecol.show-stage

.twelvecol.edit-stage

%script#show-message-content-template{type: 'text/x-handlebars-template'}
  .template-header
    %span.subject-label
      Subject :
    %span.subject-content
      {{ sub_subject_title }}
    %span.recipient-content
      {{ target_role }}
    %span.recipient-label
      Recipient :

  .fr-view
    {{{ message_template_content }}}

  .clear
    %input.action-button#edit-message-template-btn{type: 'button', name: 'Edit', value: 'Edit Template', 'data-template_id': "{{ message_template_id }}"}

%script#edit-message-content-template{type: 'text/x-handlebars-template'}
  .template-content
    %textarea{id: 'message_template_content'} {{ message_template_content }}

  .clear
    %input.cancel.action-button{type: 'button', name: 'Cancel', value: 'Cancel'}
    %input.submit.action-button{type: 'button', name: 'Save', value: 'Save'}
    %input.delete.action-button{type: 'button', name: 'Delete', value: 'Delete'}
