= content_for :title, t('admin.message')

.twelvecol
  .page-header
    %h2.widget.widget-header= t('admin.message') + ' :'

.twelvecol#main-menu
  .menu-items
    = link_to '#', class: 'messages' do
      = image_tag 'message.png'
      %span Create Regular Message
    = link_to choose_template_admin_message_templates_path, class: 'messages' do
      = image_tag 'create.png'
      %span Create Message Template
    = link_to '#', class: 'messages' do
      = image_tag 'view.png'
      %span Sent Messages
    = link_to '#', class: 'messages' do
      = image_tag 'edit.png'
      %span Edit Message Template
