= content_for :title, 'New Message Template'
- step_size = 5
- page_step = 4

.row
  .page-header
    %h3= add_recipient_header

.row
  = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}

.row#main-content
  %h4.step-instruction Please choose target recipient for this template :
  = form_tag content_admin_message_templates_path, method: :post do
    = hidden_field_tag :subject_title, params[:subject_title]
    = hidden_field_tag :sub_subject_title, params[:sub_subject_title]
    .form-group
      - MessageTemplate.target_roles.each do |target_role|
        .radio
          %label
            %input{type: 'radio', name: 'target_role', value: target_role[0], checked: true}
            = target_role[0].humanize

    .form-buttons
      .col-md-6
        %a{href: sub_subject_admin_message_templates_path, class: 'btn btn-raised btn-info'} Back
      .col-md-6
        = submit_tag 'Next', class: 'btn btn-raised btn-success'
