= content_for :title, 'New Message Template'
- step_size = 4
- page_step = 1

.row
  .page-header
    %h3= add_subject_header

.row
  = render partial: '/shared/progress_bar', locals: {step_size: step_size, page_step: page_step}

.row#main-content
  %h4.step-instruction Please Add Subject :
  = form_tag sub_subject_admin_message_templates_path, method: :post do
    .form-group
      = text_field_tag :subject_title, params[:subject_title], placeholder: t('messages.subject'), class: 'form-control', id: 'subject-title', required: true

    .row.form-buttons
      .col-md-6
        %a{href: admin_message_templates_path, class: 'btn btn-raised btn-info'} Back
      .col-md-6
        = submit_tag 'Next', class: 'btn btn-raised btn-success'
