<footer class="new-styles">
    <div class="container">
        <div class="row">
        <div class="fourcol">
            <h3>Contact Us</h3>
            <p>800 Lorem ipsum, Suite</p>
            <p>Oslo, NC 27713 Norway</p>
            <p>info@hsca.com</p>
            <p>+1 919.908.6300</p>
        </div>
        <div class="fourcol">
            <%= image_tag 'logo.png' %>
            <p>Healthier and Safer Childcare Alliance</p>
        </div>
        <div class="fourcol last">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Mission", mission_path %></li>
                <li><%= link_to "Path", path_path %></li>
                <li><%= link_to "Standard", standard_path %></li>
            </ul>
        </div>
        </div>
    </div>
</footer>