<header>
    <%= image_tag 'logo.png' %>
    <img src=""/>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Mission", mission_path %></li>
        <li><%= link_to "Path", path_path %></li>
        <li><%= link_to "Standard", standard_path %></li>
    </ul>
    <% if user_signed_in? %>
        <% unless current_user.subscribed? %>
            <%= link_to "Upgrade", upgrade_path %>
        <% end %>
        <%= link_to 'Dashboard', dashboard_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Login', new_user_session_path %> |
        <%= link_to "Register", getting_started_path %>
    <% end %>
</header>