.row-fluid
  %h4.heading= t('pages.mission_step.heading_1')
  %p= t('pages.mission_step.content_1_a')
  %p= t('pages.mission_step.content_2_b')
  %p= t('pages.mission_step.content_3_c')

.row-fluid
  %h4.heading= t('pages.mission_step.heading_2')
  %p= t('pages.mission_step.content_2_a')

.row-fluid
  %h4.heading= t('pages.mission_step.heading_3')
  %p= t('pages.mission_step.content_3_a')
