<div class="legacy-path">
  <div class="container">
    <div class="row promo">
      <div class="promo-img">
        <%= image_tag 'Dollarphotoclub74523.png' %>
        <div class="img-text image-text-path">
          <h2>
            <%= t('pages.about.sub_heading1')%>
            <br/>  
            <%= t('pages.about.sub_heading2')%>
          </h2>
          <p><%= t('pages.about.paragraph1')%> <br><%= t('pages.about.line2')%>
            <br><%= t('pages.about.line3')%><br><%= t('pages.about.line4')%></p>
        </div>
      </div>
    </div> 
  </div>
  

  <div class="container" id="path-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about-content">
          <h1><%= t('pages.about.main_heading')%></h1>
      </div>
    </div>

    <div class="row second-row">
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8" id="center"><h3><%= t('pages.about.hr_heading')%></h3></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="first-step">
          <p><%= t('pages.about.paragraph2')%><br>
          </p>
          <h3><%= t('pages.about.sub_heading3')%></h3>
          <p><%= t('pages.about.paragraph3').html_safe%></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <h3><%= t('pages.about.sub_heading4')%></h3>
          <p><%= t('pages.about.paragraph4')%>
          </p>
        </div>
      </div>

    </div>

    <div class="row dash3_line">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr class="dash3"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="first-step">
          
          <h3><%= t('pages.about.sub_heading5')%></h3>
          <p>
            <%= t('pages.about.paragraph5').html_safe %>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <h3><%= t('pages.about.sub_heading6')%></h3>
          <p>
            <%= t('pages.about.paragraph6').html_safe %>
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="row">
          <div class="col-lg-2">
            <%= image_tag 'Womanavatardesignedb.png' %>
          </div>
          <div class="col-lg-10 nested">
            <h3><%= t('pages.about.sub_heading7').html_safe %> </h3>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>
                <%= t('pages.about.paragraph7').html_safe %>
              </p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="row">
          <div class="col-lg-2">
            <%= image_tag 'Familyofthreedesigne.png' %>
          </div>
          <div class="col-lg-10 nested">
            <h3><%= t('pages.about.sub_heading8').html_safe %></h3>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="right_p">
                <%= t('pages.about.paragraph8').html_safe %>
              </p>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>

    <div class="row second-row">
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8" id="center"><h3><%= t('pages.about.sub_heading9').html_safe %></h3></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
    </div>

    <div class="row" id="last">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="third-step">
          <p>
            <b><%= t('pages.about.paragraph9').html_safe %></b>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="start-journey">
          <div class="journey-next">
            <p><%= t('pages.about.paragraph10').html_safe %></p>
            <h2>
              Start your Journey
              <%= link_to getting_started_path do %>
                <i class="fa fa-angle-right"></i>
              <% end %>
            </h2>
            <p><%= t('pages.about.paragraph11').html_safe %></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

