#legacy-home  
  .container.slider
    .row
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol#carousel-indicators.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
        / Wrapper for slides
        .carousel-inner{:role => "listbox"}
          .item.active
            = image_tag 'slider.jpg'
    / END SLIDER
    / END SLIDER
    / END SLIDER
    .main-content
      .container.content
        .row
          .start.col-xs-12
            = image_tag "start.png"
            %h2.start-heading= t('pages.home.main_heading')
            .start-text
              %p= t('pages.home.para1')
              = link_to mission_path do
                %i.fa.fa-angle-right
          .standard.col-xs-12
            = image_tag "standard.png"
            %h2.standard-heading= t('pages.home.main_heading2')
            .standard-text
              = link_to standard_path do
                %i.fa.fa-angle-left
              %p= t('pages.home.para2')
          .Path.col-xs-12
            = image_tag "standard.png"
            %h2.Path-heading= t('pages.home.main_heading3')
            .Path-text
              = link_to path_path do
                %i.fa.fa-angle-right
              %p= t('pages.home.para3')
          .journey.col-xs-12
            .journey-text
              .jan-left
                %p
                  = t('pages.home.para4')
                  %p
                    %h2
                      = t('pages.home.main_heading4')
                      = link_to getting_started_path do
                        %i.fa.fa-angle-right
                    %p= t('pages.home.para5')
              .jan-right
                %h2 The Journey
                %p
                  = t('pages.home.para6')
                  %span Journey
                  here.