#legacy-back-three
  .container.back-page-content
    .row.back-page
      .col-md-12
        .infect-heading{'data-step'=>"7", 'data-intro'=>"In this section you are see videos", 'data-position' => 'top'}
          = image_tag 'introduction.png'
          %h2= t('pages.instruction.main_heading')
          %p= t('pages.instruction.para1')
      .col-md-6.left-side
        .single{'data-step'=>"8", 'data-intro'=>"Infection preventive food handling", 'data-position' => 'right'}
          = image_tag 'back3_one.png'
          %h2= t('pages.instruction.sub_heading1')
          %p= t('pages.instruction.para2')
          %h4.click-here
            %a{:href => "/trainings/1"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"9", 'data-intro'=>"Infection preventive exclusion of sick children", 'data-position' => 'right'}
          = image_tag 'back3_two.png'
          %h2= t('pages.instruction.sub_heading2')
          %p= t('pages.instruction.para3')
          %h4.click-here
            %a{:href => "/trainings/2"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"10", 'data-intro'=>"Infection preventive diapering", 'data-position' => 'right'}
          = image_tag 'back3_three.png'
          %h2= t('pages.instruction.sub_heading3')
          %p= t('pages.instruction.para4')
          %h4.click-here
            %a{:href => "/trainings/3"} Click here to access infection risk assessment for this module
      .col-md-6.right-side
        .single{'data-step'=>"11", 'data-intro'=>"Infection preventive outbreak control strategies", 'data-position' => 'left'}
          = image_tag 'back3_four.png'
          %h2= t('pages.instruction.sub_heading4')
          %p= t('pages.instruction.para5')
          %h4.click-here
            %a{:href => "/trainings/4"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"12", 'data-intro'=>"Infection preventive cleaning of bodily fluids", 'data-position' => 'left'}
          = image_tag 'back3_five.png'
          %h2= t('pages.instruction.sub_heading5')
          %p= t('pages.instruction.para6')
          %h4.click-here
            %a{:href => "/trainings/5"} Click here to access infection risk assessment for this module
        .single{'data-step'=>"13", 'data-intro'=>"Infection preventive hand washing", 'data-position' => 'left'}
          = image_tag 'back3_six.png'
          %h2= t('pages.instruction.sub_heading6') 
          %p= t('pages.instruction.para7')
          %h4.click-here
            %a{:href => "/trainings/6"} Click here to access infection risk assessment for this module