#legacy-back-three
  .container.back-page-content
    .row.back-page
      .col-md-12
        .infect-heading{'data-step'=>"7", 'data-intro'=>"In this section you are see videos", 'data-position' => 'top'}
          %h2.text-orange= t('pages.instruction.main_heading')
          %h3.text-orange= t('pages.instruction.description')
      - if current_user.nil? || !current_user.active_subscribed? || (current_user.manager? && current_user.plan_type == 2) || (current_user.worker? && current_user.manager_plan_type == 2)
        .col-md-6.left-side
          .single{'data-step'=>"8", 'data-intro'=>"Infection preventive food handling", 'data-position' => 'right'}
            %a{:href => "#", "data-url": get_video_link("free", 1, I18n.locale), "data-popup-open": "video-popup"}
              = image_tag 'intro_one.png'
            %h3.text-orange= t('pages.instruction.sub_heading1.title')
            %p.text-left= t('pages.instruction.sub_heading1.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para5').html_safe
          .single{'data-step'=>"9", 'data-intro'=>"Infection preventive exclusion of sick children", 'data-position' => 'right'}
            %a{:href => "#", "data-url": get_video_link("free", 2, I18n.locale), "data-popup-open": "video-popup"}
              = image_tag 'intro_three.png'
            %h3.text-orange= t('pages.instruction.sub_heading3.title')
            %p.text-left= t('pages.instruction.sub_heading3.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para5').html_safe
        .col-md-6.right-side
          .single{'data-step'=>"11", 'data-intro'=>"Infection preventive outbreak control strategies", 'data-position' => 'left'}
            %a{:href => "#", "data-url": get_video_link("free", 3, I18n.locale), "data-popup-open": "video-popup"}
              = image_tag 'intro_two.png'
            %h3.text-orange= t('pages.instruction.sub_heading2.title')
            %p.text-left= t('pages.instruction.sub_heading2.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading2.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading2.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading2.para3').html_safe
          .single{'data-step'=>"12", 'data-intro'=>"Infection preventive cleaning of bodily fluids", 'data-position' => 'left'}
            %a{:href => "#", "data-url": get_video_link("free", 4, I18n.locale), "data-popup-open": "video-popup"}
              = image_tag 'intro_four.png'
            %h3.text-orange= t('pages.instruction.sub_heading4.title')
            %p.text-left= t('pages.instruction.sub_heading4.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para5').html_safe
        .col-md-offset-3.col-md-6
          .single{'data-step'=>"13", 'data-intro'=>"Infection preventive hand washing", 'data-position' => 'left'}
            %a{:href => "#", "data-url": get_video_link("free", 5, I18n.locale), "data-popup-open": "video-popup"}
              = image_tag 'intro_five.png'
            %h3.text-orange= t('pages.instruction.sub_heading5.title')
            %p.text-left= t('pages.instruction.sub_heading5.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para5').html_safe
      - else
        .col-md-6.left-side
          .single{'data-step'=>"8", 'data-intro'=>"Infection preventive food handling", 'data-position' => 'right'}
            %a{:href => "/trainings/1"}
              = image_tag 'intro_one.png'
            %h3.text-orange= t('pages.instruction.sub_heading1.title')
            %p.text-left= t('pages.instruction.sub_heading1.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading1.para5').html_safe
          .single{'data-step'=>"9", 'data-intro'=>"Infection preventive exclusion of sick children", 'data-position' => 'right'}
            %a{:href => "/trainings/2"}
              = image_tag 'intro_three.png'
            %h3.text-orange= t('pages.instruction.sub_heading3.title')
            %p.text-left= t('pages.instruction.sub_heading3.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading3.para5').html_safe
        .col-md-6.right-side
          .single{'data-step'=>"11", 'data-intro'=>"Infection preventive outbreak control strategies", 'data-position' => 'left'}
            %a{:href => "/trainings/3"}
              = image_tag 'intro_two.png'
            %h3.text-orange= t('pages.instruction.sub_heading2.title')
            %p.text-left= t('pages.instruction.sub_heading2.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading2.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading2.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading2.para3').html_safe
          .single{'data-step'=>"12", 'data-intro'=>"Infection preventive cleaning of bodily fluids", 'data-position' => 'left'}
            %a{:href => "/trainings/4"}
              = image_tag 'intro_four.png'
            %h3.text-orange= t('pages.instruction.sub_heading4.title')
            %p.text-left= t('pages.instruction.sub_heading4.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading4.para5').html_safe
        .col-md-offset-3.col-md-6
          .single{'data-step'=>"13", 'data-intro'=>"Infection preventive hand washing", 'data-position' => 'left'}
            %a{:href => "/trainings/5"}
              = image_tag 'intro_five.png'
            %h3.text-orange= t('pages.instruction.sub_heading5.title')
            %p.text-left= t('pages.instruction.sub_heading5.description')
            %ul.scientific-facts
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para1').html_safe          
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para2').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para3').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para4').html_safe
              %li
                %p.text-left
                  = t('pages.instruction.sub_heading5.para5').html_safe
  .col-md-12.step-contents
    - if current_user.nil?
      .cta-step-box.next-green-step
        %p= t('pages.standard.para8_1').html_safe
        %button.btn.hcc-green-btn
          %a{'href': '/journey'}
            = t('pages.nav_bar.get_started').html_safe

.popup{"data-popup" => "video-popup"}
  .popup-inner
    %iframe{:frameborder => "0", :onload => "resizeIframe(this)", :scrolling => "no", :src => "",  id: 'video-iframe'}
    %a.popup-close{"data-popup-close" => "video-popup", :href => "#"} x

:javascript
  jQuery(document).ready(function() {
    $('[data-popup-open]').on('click', function(e)  {

        $('#video-iframe').attr('src', $(this).data('url'));
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        e.preventDefault();
    });
    //----- CLOSE
    $('[data-popup-close]').on('click', function(e)  {
        $('#video-iframe').attr('src', '');
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
        e.preventDefault();
    });

  });