<div class="legacy-path">
  <div class="container">
    <div class="row promo">
      <div class="promo-img">
        <%= image_tag 'home_slider.jpg' %>
        <div class="img-text image-text-path">
          <h2><%= t('pages.path.main_heading').html_safe %></h2>
          <p><%= t('pages.path.paragraph1').html_safe %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12.col-md-12.col-sm-12.col-xs-12">
        <ul class="nav nav-pills" id="page-menu">
          <li role="presentation">
            <a href="/mission">
              <i class="fa fa-angle-right"></i>
              <%= t('pages.path.li_head1').html_safe %>
            </a>
          </li>
          <li role="presentation">
            <a href="/standard">
              <i class="fa fa-angle-right" style="background: #FFBA03;"></i>
              <%= t('pages.path.li_head2').html_safe %>
            </a>
          </li>
          <li class="active" role="presentation">
            <a href="/path">
              <i class="fa fa-angle-down" style="background: #89AF3A;"></i>
              <%= t('pages.path.li_head3').html_safe %>
            </a>
          </li>
          <li role="presentation">
            <a href="#">
              <i class="fa fa-angle-right" style="background: #1FA5AB;"></i>
              <%= t('pages.path.li_head4').html_safe %>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container" id="path-content">
    <div class="row first">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="shedule">
          <h4><%= t('pages.path.sub_heading1').html_safe %></h4>
          <p><%= t('pages.path.paragraph2').html_safe %></p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p>
            <%= t('pages.path.paragraph3').html_safe %>
            <br><span class="points"><%= t('pages.path.point1').html_safe %></span>
            <br><span class="points"><%= t('pages.path.point2').html_safe %></span>
            <br><span class="points"><%= t('pages.path.point3').html_safe %></span>
            <br><%= t('pages.path.point4').html_safe %>
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 left_line"><hr class="dash"></div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4" id="center"><%= image_tag 'Layer22copy.png' %></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 right_line"><hr class="dash"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="first-step">
          <h2 id="risk-assessment"><%= t('pages.path.sub_heading2').html_safe %></h2>
          <p>
            <%= t('pages.path.paragraph4').html_safe %>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p id="risk-assessment-right">
            <%= t('pages.path.paragraph5').html_safe %>
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 left_line"><hr class="dash"></div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center"><%= image_tag 'Layer7copy.png' %></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 right_line"><hr class="dash"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="second-step">
          <h2><%= t('pages.path.sub_heading3').html_safe %></h2>
          <p>
            <%= t('pages.path.paragraph6').html_safe %>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p class="second-right">
            <span>
              <%= t('pages.path.sub_heading4').html_safe %>
            </span>
            <br>
            <%= t('pages.path.paragraph7').html_safe %>
            <br><br>
            <span>
              <%= t('pages.path.sub_heading5').html_safe %>
            </span>
            <br>
            <%= t('pages.path.paragraph8').html_safe %>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 left_line"><hr class="dash"></div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 center"><%= image_tag 'layer79.png' %></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 right_line"><hr class="dash"></div>
    </div>
     

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="third-step">
          <h2><%= t('pages.path.sub_heading6').html_safe %></h2>
          
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <p>
            <%= t('pages.path.paragraph9').html_safe %>
          </p>
        </div>
      </div>

    </div>

    <div class="row line"><hr class="dash"></div>

    <div class="row" id="last">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="third-step">
          <p>
            <b><%= t('pages.path.paragraph10').html_safe %></b>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="start-journey">
          <div class="journey-next">
            <p><%= t('pages.path.paragraph11').html_safe %></p>
            <h2>
              <%= t('pages.path.sub_heading7').html_safe %>
              <%= link_to getting_started_path do %>
                <i class="fa fa-angle-right"></i>
              <% end %>
            </h2>
            <p><%= t('pages.path.paragraph12').html_safe %></p>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
