.legacy-standard
  .container
    .row.promo
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .promo-img
          = image_tag 'slider.jpg'
          .img-text
  / End Promo Area
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %ul#page-menu.nav.nav-pills
          %li{:role => "presentation"}
            %a{:href => "/mission"}
              %i.fa.fa-angle-right>
              = t('pages.standard.label1').html_safe
          %li.active{:role => "presentation"}
            %a{:href => "/standard"}
              %i.fa.fa-angle-down>
              = t('pages.standard.label2').html_safe
          %li{:role => "presentation"}
            %a{:href => "/path"}
              %i.fa.fa-angle-right>
              = t('pages.standard.label3').html_safe
          %li{:role => "presentation"}
            %a{:href => "#"}
              %i.fa.fa-angle-right>
              = t('pages.standard.label4').html_safe
  / End page-menu Area
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
        .page-heading
          %h2
            = t('pages.standard.head1').html_safe
        .page-discription
          %p= t('pages.standard.para1').html_safe
  .container.page-description-list
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .listed-thumb
          = image_tag 'list_one.png'
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .list-description
          %h2
            = t('pages.standard.head2').html_safe
          %p= t('pages.standard.para2').html_safe
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .listed-thumb
          = image_tag 'list_two.png'
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .list-description
          %h2= t('pages.standard.head3').html_safe
          %p= t('pages.standard.para3').html_safe
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .listed-thumb
          = image_tag 'list_three.png'
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .list-description
          %h2= t('pages.standard.head4').html_safe
          %p= t('pages.standard.para4').html_safe
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .listed-thumb
          = image_tag 'list_four.png'
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .list-description
          %h2
            = t('pages.standard.head5').html_safe
          %p
            = t('pages.standard.para5').html_safe
  .container
    .row
      #bg.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12
        #get-start-free
          %h2.start-free
            %span.get-start= t('pages.standard.head6').html_safe 
            = link_to getting_started_path do
              %i.fa.fa-angle-right
          %p
            = t('pages.standard.para6').html_safe
            %a{:href => "/standard"} click here