#legacy-back-three
  .container.back-page-content
    .row.back-page
      .row
        .col-md-12
          .infect-heading{'data-step'=>"7", 'data-intro'=>"In this section you are see videos", 'data-position' => 'top'}
            = image_tag 'take-action.png'
            %h2.text-orange= t('pages.take_action.main_heading')
      .row
        .col-md-6.left-side
          .single{'data-step'=>"8", 'data-intro'=>"Infection preventive food handling", 'data-position' => 'right'}
            %a{:href => '#'}
              = image_tag 'take-action-1.png'
            %h3.text-orange= t('pages.take_action.sub_heading1')
            %p.text-left= t('pages.take_action.para2')
        .col-md-6.right-side
          .single{'data-step'=>"11", 'data-intro'=>"Infection preventive outbreak control strategies", 'data-position' => 'left'}
            %a{:href => '#'}
              = image_tag 'take-action-2.png'
            %h3.text-orange= t('pages.take_action.sub_heading2')
            %p.text-left= t('pages.take_action.para3')
      - unless current_user.nil?
        .row{style:'margin-bottom: 30px;'}
          / .col-md-6.text-center
          /   %button.btn.hcc-btn
          /     %a{'href': LocalePoster.by_type_language(1, I18n.locale).first.nil? ? '#' : LocalePoster.by_type_language(1, I18n.locale).first.poster.url}
          /       = t('pages.take_action.label_post1')
          /   %span.st_sharethis_large{:displaytext => "ShareThis"}
          / .col-md-6.text-center   
          /   %button.btn.hcc-btn
          /     %a{'href': LocalePoster.by_type_language(2, I18n.locale).first.nil? ? '#' : LocalePoster.by_type_language(2, I18n.locale).first.poster.url}
          /       = t('pages.take_action.label_post2')          
          /   %span.st_sharethis_large{:displaytext => "ShareThis"}
      .row    
        .col-md-6.left-side
          .single{'data-step'=>"9", 'data-intro'=>"Infection preventive exclusion of sick children", 'data-position' => 'right'}
            %a{:href => '#'}
              = image_tag 'take-action-3.png'
            %h3.text-orange= t('pages.take_action.sub_heading3')
            %p.text-left= t('pages.take_action.para4').html_safe
        .col-md-6.right-side
          .single{'data-step'=>"12", 'data-intro'=>"Infection preventive cleaning of bodily fluids", 'data-position' => 'left'}
            %a{:href => '#'}
              = image_tag 'take-action-4.png'
            %h3.text-orange= t('pages.take_action.sub_heading4')
            %p.text-left= t('pages.take_action.para5')
      .row{style:'margin-bottom: 30px;'}    
        .col-md-6.left-side
          .single{'data-step'=>"13", 'data-intro'=>"Infection preventive hand washing", 'data-position' => 'right'}
            %a{:href => '#'}
              = image_tag 'take-action-5.png'
            %h3.text-orange= t('pages.take_action.sub_heading5') 
            %p.text-left= t('pages.take_action.para6')
        .col-md-6.right-side
          .single{'data-step'=>"13", 'data-intro'=>"Infection preventive hand washing", 'data-position' => 'left'}
            %a{:href => '#'}
              = image_tag 'take-action-6.png'
            %h3.text-orange= t('pages.take_action.sub_heading6') 
            %p.text-left= t('pages.take_action.para7')
            / - unless current_user.nil?
            /   %button.btn.hcc-btn
            /     %a{'href': LocalePoster.by_type_language(3, I18n.locale).first.nil? ? '#' : LocalePoster.by_type_language(3, I18n.locale).first.poster.url}
            /       = t('pages.take_action.label_post6')          
            /   %span.st_sharethis_large{:displaytext => "ShareThis"}
  .col-md-12.step-contents
    .cta-step-box
      %p= t('pages.standard.para8_1').html_safe
      %button.btn.hcc-btn
        %a{'href': '/journey'}
          = t('pages.nav_bar.get_started').html_safe      

:javascript
  var switchTo5x=true;
%script#st_insights_js{:src => "http://w.sharethis.com/button/buttons.js?publisher=61a0d461-0187-4167-a801-c2684d6a8bad", :type => "text/javascript"}
:javascript
  stLight.options({publisher: "61a0d461-0187-4167-a801-c2684d6a8bad", doNotHash: false, doNotCopy: false, hashAddressBar: false});
