.container.userplan-container
    .row
        .col-md-8.col-sm-12
            .row.membership-header
                .col-md-12.text-center
                    %h4 Healthier Childcare membership
                    %p 
                        Enjoy the benefits of being part of our Healthier Childcare network.
                        Though you will not be accredited, you can access our highly informative program to 
                        help you mitigate risk of infections in your childcare community.

            .row
                .col-md-4.col-sm-4
                    .row.plan-header.left-top-radius
                        .plan-bg
                            = image_tag 'plan-header-1.png'
                        .plan-content.text-center
                            %h6 PHASE 1
                            %p.plan-type Informed Membership
                            %h5 $ 19 / mo
                            %p.plan-description (USD, billed yearly)
                    .row.plan-body.text-center
                        %ul.user-feature-box
                            %li
                                .icon
                                    = image_tag 'plan-icon-1.png'
                                .feature-text.text-left
                                    %span Access the scope of infection risk in your facility
                            %li
                                .icon
                                    = image_tag 'plan-icon-2.png'
                                .feature-text.text-left
                                    %span Priodic Newsletter
                        %button.btn.hcc-btn-vertical
                            BOOK NOW
                .col-md-4.col-sm-4
                    .row.plan-header
                        .plan-bg
                            = image_tag 'plan-header-2.png'
                        .plan-content.text-center
                            %h6 PHASE 2
                            %p.plan-type Certification Membership
                            %h5 $ 39 / mo
                            %p.plan-description (USD, billed yearly)
                    .row.plan-body.text-center
                        %ul.user-feature-box
                            %li
                                .icon
                                    = image_tag 'plan-icon-1.png'
                                .feature-text.text-left
                                    %span Access the scope of infection risk in your facility
                            %li
                                .icon
                                    = image_tag 'plan-icon-2.png'
                                .feature-text.text-left
                                    %span Priodic Newsletter
                            %li
                                .icon
                                    = image_tag 'plan-icon-3.png'
                                .feature-text.text-left
                                    %span Get instruction in optimal infective practices
                            %li
                                .icon
                                    = image_tag 'plan-icon-4.png'
                                .feature-text.text-left
                                    %span Boost employee confidence
                            %li
                                .icon
                                    = image_tag 'plan-icon-5.png'
                                .feature-text.text-left
                                    %span Positively affect the next generation
                        %button.btn.hcc-btn-vertical
                            BOOK NOW
                .col-md-4.col-sm-4
                    .row.plan-header.right-top-radius
                        .plan-bg
                            = image_tag 'plan-header-3.png'
                        .plan-content.text-center
                            %h6 PHASE 3
                            %p.plan-type Accreditation Membership
                            %h5 $ 99 / mo
                            %p.plan-description (USD, billed yearly)
                    .row.plan-body.text-center
                        %ul.user-feature-box
                            %li
                                .icon
                                    = image_tag 'plan-icon-1.png'
                                .feature-text.text-left
                                    %span Access the scope of infection risk in your facility
                            %li
                                .icon
                                    = image_tag 'plan-icon-2.png'
                                .feature-text.text-left
                                    %span Priodic Newsletter
                            %li
                                .icon
                                    = image_tag 'plan-icon-3.png'
                                .feature-text.text-left
                                    %span Get instruction in optimal infective practices
                            %li
                                .icon
                                    = image_tag 'plan-icon-4.png'
                                .feature-text.text-left
                                    %span Boost employee confidence
                            %li
                                .icon
                                    = image_tag 'plan-icon-5.png'
                                .feature-text.text-left
                                    %span Positively affect the next generation
                            %li
                                .icon
                                    = image_tag 'plan-icon-6.png'
                                .feature-text.text-left
                                    %span Infection record management
                            %li
                                .icon
                                    = image_tag 'plan-icon-7.png'
                                .feature-text.text-left
                                    %span Infection analytics
                            %li
                                .icon
                                    = image_tag 'plan-icon-8.png'
                                .feature-text.text-left
                                    %span Infection preventive communication manager 
                            %li
                                .icon
                                    = image_tag 'plan-icon-9.png'
                                .feature-text.text-left
                                    %span Infection preventive task manager
                            %li
                                .icon
                                    = image_tag 'plan-icon-10.png'
                                .feature-text.text-left
                                    %span Avoid potentially costly lawsuits
                            %li
                                .icon
                                    = image_tag 'plan-icon-11.png'
                                .feature-text.text-left
                                    %span Get the competitive edge
                        %button.btn.hcc-btn-vertical
                            BOOK NOW
        .col-md-4.col-sm-12.plan-features
            .row
                .col-md-12
                    %h4.text-center ONGOING ACCREDITATION MEMBERSHIP BENEFITS
            .row
                %ul.user-feature-box
                    %li
                        .icon
                            = image_tag 'plan-icon-1.png'
                        .feature-text.text-left
                            %span Access the scope of infection risk in your facility
                    %li
                        .icon
                            = image_tag 'plan-icon-2.png'
                        .feature-text.text-left
                            %span Priodic Newsletter
                    %li
                        .icon
                            = image_tag 'plan-icon-3.png'
                        .feature-text.text-left
                            %span Get instruction in optimal infective practices
                    %li
                        .icon
                            = image_tag 'plan-icon-4.png'
                        .feature-text.text-left
                            %span Boost employee confidence
                    %li
                        .icon
                            = image_tag 'plan-icon-5.png'
                        .feature-text.text-left
                            %span Positively affect the next generation
                    %li
                        .icon
                            = image_tag 'plan-icon-6.png'
                        .feature-text.text-left
                            %span Infection record management
                    %li
                        .icon
                            = image_tag 'plan-icon-7.png'
                        .feature-text.text-left
                            %span Infection analytics
                    %li
                        .icon
                            = image_tag 'plan-icon-8.png'
                        .feature-text.text-left
                            %span Infection preventive communication manager 
                    %li
                        .icon
                            = image_tag 'plan-icon-9.png'
                        .feature-text.text-left
                            %span Infection preventive task manager
                    %li
                        .icon
                            = image_tag 'plan-icon-10.png'
                        .feature-text.text-left
                            %span Avoid potentially costly lawsuits
                    %li
                        .icon
                            = image_tag 'plan-icon-11.png'
                        .feature-text.text-left
                            %span Get the competitive edge
