<div id="legacy-upgrade">
  <div class="container main-theme">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 toward-higher">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-theme">
               <h3 class="text-theme"><%= t('subscriptions.index.main_heading')%></h3> 
                <p class="text-theme"><%= t('subscriptions.index.main_paragraph').html_safe %>
                </p>
            </div>
            <div class="payment_form"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rang-block">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 back-theme rang-col pro">
                  <h4 class ="text-theme rang-text pro"><%= t('subscriptions.index.sub_heading')%></h4>
                  <h3 class="text-theme rang-text pro">$20 / month</h3>
                  <div class="row tick-theme pro">
                    <div class="col-md-12 pro">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label')%></p>
                      </div> 
                    </div>    
                    <div class="col-md-12 pro">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label1')%></p>
                      </div> 
                    </div> 
                    <div class="col-md-12 pro">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label2')%></p>
                      </div> 
                    </div> 
                    <div class="col-md-10 col-md-offset-2">
                     <!--  <a href=""><button type="submit" class="btn btn-primary book-btn pro proo">Book Now</button> -->
                     <%= link_to "Book Now", new_plan_subscription_path(@plan1) ,remote: true, class: 'btn btn-primary book-btn pro proo'%>
                    </div>
                  </div>  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 back-theme rang-col commit">
                  <h4 class ="text-theme rang-text commit"><%= t('subscriptions.index.sub_heading1')%> </h4>
                  <h3 class="text-theme rang-text commit">$49 / month</h3>
                  <div class="row tick-theme commit">
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label3')%></p>
                      </div> 
                    </div>    
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label4')%></p>
                      </div> 
                    </div>
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label5')%></p>
                      </div> 
                    </div> 
                    <div class="col-md-12 commit">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label6')%></p>
                      </div> 
                    </div> 
                    <div class="col-md-10 col-md-offset-2">
                      <!-- <button type="button" class="btn btn-primary book-btn commit">Book Now</button> --> 
                      <%= link_to "Book Now", new_plan_subscription_path(@plan2) ,remote: true, class: 'btn btn-primary book-btn commit'%>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 back-theme rang-last acc">
                 <h4 class ="text-theme rang-text acc"><%= t('subscriptions.index.sub_heading2')%></h4>
                 <h3 class="text-theme rang-text acc">$99 / month</h3>
                 <div class="row tick-theme acc">
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label7')%></p>
                      </div> 
                    </div>    
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label8')%></p>
                      </div> 
                    </div>
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label9')%></p>
                      </div> 
                    </div>
                    <div class="col-md-12 acc">
                      <div class="col-md-2">
                        <img src="assets/imgpsh_fullsize.png" alt="tick" class="tick-blu">
                      </div>
                      <div class="col-md-10">
                        <p class="print1"><%= t('subscriptions.index.label10')%></p>
                      </div> 
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                      <!-- <button type="button" class="btn btn-primary book-btn acc">Book Now</button> -->
                      <%= link_to "Book Now", new_plan_subscription_path(@plan3) ,remote: true, class: 'btn btn-primary book-btn acc'%>
                    </div>   
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="ongoing">
                <div class="ongoing-heading">
                    <h2><%= t('subscriptions.index.right_heading')%></h2>
                    <p><%= t('subscriptions.index.right_paragraph')%></p>
                </div>
                 <div class="single-ongoing pink">
                    <%= image_tag '01.png' %>
                    <p>
                      <a href="">http://www.iconarchive.com/show/flat-style-icons-by-flaticonmaker/email-icon.html
                      </a><br>
                      <span class="periodic-pin"><b><%= t('subscriptions.index.right_para1').html_safe %></span>
                    </p>
                </div>
                 <div class="single-ongoing pink">
                    <%= image_tag '02.png' %>
                    <p>
                      <span class="periodic-pin"><b><%= t('subscriptions.index.right_para2').html_safe %></span>
                    </p>
                </div>
                <div class="single-ongoing blue ">
                    <%= image_tag '03.png' %>
                    <p>
                      <span class="practices-blu"><b><%= t('subscriptions.index.right_para3').html_safe %></span>
                    </p>
                </div>
                <div class="single-ongoing all">
                <%= image_tag '04.png' %>
                    <p>
                      <span class="potential-gree"><b><%= t('subscriptions.index.right_para4').html_safe %></span>
                    </p>
                </div>
                <div class="single-ongoing all">
                <%= image_tag '05.png' %>
                    <p>
                      <span class="potential-gree"><b><%= t('subscriptions.index.right_para5').html_safe %></span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag 'ongoing_five.png' %>
                    <p>
                      <span class="potential-gree"><b><%= t('subscriptions.index.right_para6').html_safe %></span>
                    </p>
                </div> 
                <div class="single-ongoing all">
                    <%= image_tag '08.png' %>
                    <p>
                      <span class="potential-gree"><b><%= t('subscriptions.index.right_para7').html_safe %></span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag '09.png' %>
                    <p>
                    <span class="potential-gree">
                      <b><%= t('subscriptions.index.right_para8').html_safe %></span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag '10.png' %>
                    <p>
                    <span class="potential-gree">
                    <b><%= t('subscriptions.index.right_para9').html_safe %> 
                    </span>
                    </p>
                </div>
                <div class="single-ongoing all">
                    <%= image_tag '11.png' %>
                    <p>
                    <span class="potential-gree">
                    <b><%= t('subscriptions.index.right_para10').html_safe %> 
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">


</script>