.container.userplan-container
    .row
        .col-md-8.col-sm-12
            .row.membership-header
                .col-md-12.text-center
                    %h4 
                        = t('user_plan.header.title').html_safe                    
                    %p 
                        = t('user_plan.header.content').html_safe
            .row
                #plan_phase1.col-md-4.col-sm-4
                    .row.plan-header.left-top-radius
                        .plan-bg
                            = image_tag 'plan-header-1.png'
                        .plan-content.text-center
                            %h6= t('user_plan.phase1.label').html_safe
                            %p.plan-type= t('user_plan.phase1.type').html_safe
                            %h5= t('user_plan.phase1.rate').html_safe
                            %p.plan-description= t('user_plan.phase1.desc').html_safe
                    .row.plan-body.text-center
                        %ul.user-feature-box
                            %li
                                .icon
                                    = image_tag 'plan-icon-1.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text1').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-2.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text2').html_safe
                        - if !current_user.deposit_required && current_user.paid_plan_type < 2
                            %button.btn.hcc-btn-vertical
                                %a{'href': '/set_userplan?plan=2'}
                                    = t('user_plan.button.book').html_safe
                #plan_phase2.col-md-4.col-sm-4
                    .row.plan-header
                        .plan-bg
                            = image_tag 'plan-header-2.png'
                        .plan-content.text-center
                            %h6= t('user_plan.phase2.label').html_safe
                            %p.plan-type= t('user_plan.phase2.type').html_safe
                            %h5= t('user_plan.phase2.rate').html_safe
                            %p.plan-description= t('user_plan.phase2.desc').html_safe
                    .row.plan-body.text-center
                        %ul.user-feature-box
                            %li
                                .icon
                                    = image_tag 'plan-icon-1.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text1').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-2.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text2').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-3.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text3').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-4.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text4').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-5.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text5').html_safe
                        - if !current_user.deposit_required && current_user.paid_plan_type < 3
                            %button.btn.hcc-btn-vertical
                                %a{'href': '/set_userplan?plan=3'}
                                    BOOK NOW
                #plan_phase3.col-md-4.col-sm-4
                    .row.plan-header.right-top-radius
                        .plan-bg
                            = image_tag 'plan-header-3.png'
                        .plan-content.text-center
                            %h6= t('user_plan.phase3.label').html_safe
                            %p.plan-type= t('user_plan.phase3.type').html_safe
                            %h5= t('user_plan.phase3.rate').html_safe
                            %p.plan-description= t('user_plan.phase3.desc').html_safe
                    .row.plan-body.text-center
                        %ul.user-feature-box
                            %li
                                .icon
                                    = image_tag 'plan-icon-1.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text1').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-2.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text2').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-3.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text3').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-4.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text4').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-5.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text5').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-6.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text6').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-7.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text7').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-8.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text8').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-9.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text9').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-10.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text10').html_safe
                            %li
                                .icon
                                    = image_tag 'plan-icon-11.png'
                                .feature-text.text-left
                                    %span= t('user_plan.benefit.text11').html_safe
                        - if !current_user.deposit_required && current_user.paid_plan_type < 4
                            %button.btn.hcc-btn-vertical
                                %a{'href': '/set_userplan?plan=4'}
                                    BOOK NOW
        .col-md-4.col-sm-12.plan-features
            .row
                .col-md-12
                    %h4.text-center= t('user_plan.benefit.title').html_safe 
            .row
                %ul.user-feature-box.side-features
                    %li.phase-1-item.phase-2-item.phase-3-item
                        .icon
                            = image_tag 'plan-icon-1.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text1').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content1').html_safe 
                    %li.phase-1-item.phase-2-item.phase-3-item
                        .icon
                            = image_tag 'plan-icon-2.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text2').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content2').html_safe 
                    %li.phase-2-item.phase-3-item
                        .icon
                            = image_tag 'plan-icon-3.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text3').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content3').html_safe 
                    %li.phase-2-item.phase-3-item
                        .icon
                            = image_tag 'plan-icon-4.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text4').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content4').html_safe 
                    %li.phase-2-item.phase-3-item
                        .icon
                            = image_tag 'plan-icon-5.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text5').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content5').html_safe 
                    %li.phase-3-item
                        .icon
                            = image_tag 'plan-icon-6.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text6').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content6').html_safe 
                    %li.phase-3-item
                        .icon
                            = image_tag 'plan-icon-7.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text7').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content7').html_safe 
                    %li.phase-3-item
                        .icon
                            = image_tag 'plan-icon-8.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text8').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content8').html_safe 
                    %li.phase-3-item
                        .icon
                            = image_tag 'plan-icon-9.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text9').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content9').html_safe 
                    %li.phase-3-item
                        .icon
                            = image_tag 'plan-icon-10.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text10').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content10').html_safe 
                    %li.phase-3-item
                        .icon
                            = image_tag 'plan-icon-11.png'
                        .feature-text.text-left
                            %span= t('user_plan.benefit.text11').html_safe
                            %p{style: 'display: none;'}= t('user_plan.benefit.content11').html_safe 
:javascript
    jQuery(document).ready(function() {
        $('#plan_phase1').hover(function(){
            $('.side-features li').hide();
            $('.side-features li.phase-1-item').fadeIn(1000);
        }, function(){
            $('.side-features li').show();
        });

        $('#plan_phase2').hover(function(){
            $('.side-features li').hide();
            $('.side-features li.phase-2-item').fadeIn(1000);
        }, function(){
            $('.side-features li').show();
        });

        $('#plan_phase3').hover(function(){
            $('.side-features li').hide();
            $('.side-features li.phase-3-item').fadeIn(1000);
        }, function(){
            $('.side-features li').show();
        });

        $('.side-features li').hover(function(){
            $('.side-features li p').hide();
            $(this).find('p').fadeIn(1000);
        }, function(){
            $('.side-features li p').hide();
        });
    });