<% if @group == true %>
    <% if @course_results[0].to_i == 0 && @course_results[1].to_i == 0 %>
        <p>No Results found...</p>
    <% end %>
    <div id="chart"></div>
    <ul class="list-group list-inline status">
      <li><span class="status_one"><i class="fa fa-flag-o"></i></span><span class="status-count1"><%= @course_results[1].to_i %></span> Review Pending  </li>
      <li><span class="status_two"><i class="fa fa-bars"></i></span><span class="status-count2"><%= @course_results[0].to_i %> </span> Reviewed</li>
    </ul>
<% else %>
    <div class="barGraph">
      <% if @course_results.count > 0 %>
          <ul class="graph">
            <% @course_results.each_with_index do |result, index| %>
      <span class="graph-barBack <%= "graph-bar2" if index.to_f/2.0 != 0 %>">
        <li class="graph-bar" data-value="<%= result.to_i %>"></li>
      </span>
            <% end %>
          </ul>
      <% else %>
          <p>
            <% if @admin_role == false %>
                Take the <%= link_to 'test here', new_subject_attempt_path(@subject) %> to see results...
            <% else %>
                Survey not taken yet...
            <% end %>
          </p>
      <% end %>
    </div>
<% end %>

<script>
    $(document).ready(function() {
        $('.graph-bar').each(function() {
            var dataWidth = $(this).data('value');
            $(this).css("width", dataWidth + "%");
        });
    });
</script>