.panel.panel-default
  .panel-heading
    Collaborators
  .panel-body
    %ul.list-group.collaborators
      - @active_child.collaborators.each do |child_collaborator|
        %li.list-group-item.collaborator
          - if child_collaborator.collaborator.kind_of?(Department)
            = image_tag daycare_logo(child_collaborator.collaborator.daycare), class: 'img'
          - else
            = image_tag 'admin_prof_img.jpg', class: 'img'
          %p= child_collaborator.collaborator.name

      - @active_child.pending_collaborations.each do |pending_collaborator|
        = render partial: 'pending_invite', locals: {email: pending_collaborator.invitee_email}

      %li.list-group-item
        %button.btn.btn-success.btn-raised{'data-toggle': 'modal', 'data-target': '#invite-collaborator-modal'}
          %i.glyphicon.glyphicon-plus
          Invite

= render 'collaboration_invite_form'
