.reg-manager-container.page-boxed
  .page-header
  .container
    .form-content           
      #rootwizard
        %ul{:style=> "visibility: hidden; height: 0; position:absolute;"}
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} First
        .tab-content
          #tab1.tab-pane
            .row.text-center.step-banner
              = image_tag 'manager-md.png'
              %h4 Daycare Manager
            .row.pane-container.text-center
              .row.step-banner
                .col-sm-3.col-xs-3.step-item.first-step
                  .step-label
                    = image_tag 'step-check-mng.png'
                .col-sm-3.col-xs-3.step-item.second-step
                  .step-label
                    = image_tag 'step-check-mng.png'
                .col-sm-3.col-xs-3.step-item.third-step
                  .step-label
                    = image_tag 'step-check-mng.png'
                .col-sm-3.col-xs-3.step-item.fourth-step.active    
                  .step-label
                    = image_tag 'manager-sm.png'
                    %span Invitation
            = form_tag send_invites_manager_daycares_path
            .row.pane-search-result.text-center
              %h5 
                Invite parents and workers to your Daycare on our platform now 
                %br
                by entering their email address in below:
            .row.parent-info
              .col-sm-12.text-left.email-list
                .row
                  .row.inline-input-link
                    = text_field_tag 'emails[]', '', :class => 'form-control input-round', :placeholder => 'Daycare Email'
                    = custom_link_to_remove_fields_alone image_tag('manager-sub.png'), :class => "remove_button"
              .col-sm-12.text-right
                %button.btn.btn-round.item-manager.add-daycare{:type => "button"} 
                  Add Daycare                
            .row.pane-invite.text-left
              %button.btn.btn-round.item-manager.btn-invite{:type => "button"} 
                Send Invitation
:javascript
  function remove_fields(link) {
    $(link).prev("input[type=hidden]").val("1");

    if ($(link).hasClass('subtask-link')) {
      $(link).parent('.subtask').hide();
    } else {
      $(link).parent().parent().hide();
    }
  }
  jQuery(document).ready(function() {    
    $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'}); 
    $('.remove_button').removeClass("btn");
    $('.remove_button').removeClass("btn-red");

    $('.btn-invite').click(function(){
      $('form').submit();
    });

    $('.add-daycare').click(function(){
      var new_id = new Date().getTime();
      var regexp = new RegExp("new_daycare", "g");
      var content = '<div class="row"><div class="row inline-input-link"><input type="text" name="emails[]" class="form-control input-round" placeholder="Daycare Email"><a onclick="remove_fields(this)" class="btn-normal remove_button" href="javascript:void(0);"><img src="/assets/manager-sub.png" alt="Manager sub"></a></div></div>';

      $(this).parent().parent().find('.email-list').append(content.replace(regexp, new_id));
    });
  });
