<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Stripe customer token</th>
      <th>Role</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.stripe_customer_token %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
