<% content_for :page_title, "Parent Registration" %>
<% content_for :previous_path, getting_started_path %>
<div class="css legacy-common">
  <div class="row common">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :name, autofocus: true, placeholder: 'Name' %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      <%= f.fields_for :user_daycare do |user_daycare|%>
        <h4>Daycare</h4>
        <%= user_daycare.collection_select :daycare_id, @daycares, :id, :name, { prompt: true }, {:class => 'department-populater' } %>
      <% end %>

      <h4>Children</h4>
      <div id="children">
        <%= f.fields_for :children do |child|%>
          <%= render partial: 'child_fields', locals: { f: child } %>
        <% end %>
        <%= custom_link_to_add_fields "Add Child", f, :children %>
      </div>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
      <%= f.submit "Register", :class => "btn btn-primary col-md-12" %>
    <% end %>
  </div>
</div>