<h2>Parent Registration</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.email_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.fields_for :user_daycare do |user_daycare|%>
      <%= user_daycare.label :daycare %><br />
      <%= user_daycare.collection_select :daycare_id, @daycares, :id, :name, {}, {data: { placeholder: "Select daycare..."} } %>
    <% end %>
  </div>

  <h5>Children</h5>
  <%= f.fields_for :children do |child|%>
    <div class="field">
      <%= child.label :name %><br>
      <%= child.text_field :name %>
    </div>

    <div class="field">
      <%= child.label :birth_date %><br>
      <%= child.datetime_select :birth_date %>
    </div>

    <div class="form-group">
      <%= child.fields_for :profile_image do |profile_image| %>
        <%= profile_image.label 'Profile Image' %><br>
        <%= profile_image.file_field :file %>
      <% end %>
    </div>

    <div class="form-group">
      <%= child.label :department %><br />
      <%= child.collection_select :department_id, Department.all, :id, :name, {}, {data: { placeholder: "Select department..."} } %>
    </div>
  <% end %>
  <hr>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>