.reg-partner-container.page-boxed
  .page-header
  .container
    = form_for @affiliate, url: affiliate_registration_path, html: {method: :post} do |affiliate|
      .form-content
        .row.text-center.fileupload-container
          .fileUpload
            %span.upload-wrapper
              = image_tag 'partner-upload.png'
              %span.caption Upload Company logo
              = affiliate.fields_for :profile_image do |profile_image|
                = profile_image.file_field :file, class: 'upload'              
        .row
          .col-sm-6.col-sm-offset-3
            .row.text-center
              %h4 Partner Registration        
            - if @affiliate.errors.any?
              #error_explanation
                %h5= pluralize(@affiliate.errors.count, 'error') + " prohibited this affiliate from being saved."
                %ul
                  - @affiliate.errors.full_messages.each do |message|
                    %li= message                                  
            .row
              = affiliate.text_field :name, class: 'form-control input-round', :placeholder => "Orgnization"
            .row
              = affiliate.text_field :url, class: 'form-control input-round', :placeholder => "Web URL"
            .row
              = affiliate.text_field :address, class: 'form-control input-round', :placeholder => "Address"
            .row
              = affiliate.text_field :postcode, class: 'form-control input-round', :placeholder => "PostCode"
            .row
              = affiliate.text_field :country, class: 'form-control input-round', :placeholder => "Country"
            .row
              = affiliate.text_field :telephone, class: 'form-control input-round', :placeholder => "Telephone"
            = affiliate.fields_for :user_affiliates do |user_affiliate|
              = user_affiliate.fields_for :user do |user|
                .row
                  = user.text_field :name, class: 'form-control input-round', :placeholder => "Name"
                .row
                  = user.email_field :email, class: 'form-control input-round', :placeholder => "Email"
                .row
                  = user.password_field :password, class: 'form-control input-round', :placeholder => "Password"
                .row
                  = user.password_field :password_confirmation, autocomplete: 'off', class: 'form-control input-round', :placeholder => "Password Confirmation"
                - if @minimum_password_length
                  .row
                    %em{:style => "padding-left: 20px;"}
                      (#{@minimum_password_length}) characters minimum
            .row{:style => "padding: 20px 0;"}
              = affiliate.submit 'Register', class: 'btn btn-round item-partner'
