<!DOCTYPE html>
<html>
<head>
  <title>HealthChildcare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>Admin</h1>
    <%= link_to "Go Home", root_path %>
    <hr>
    <%= yield %>
    <hr>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</body>
</html>
