!!! 5
%html
  %head
    %title Message Template
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', rel: 'stylesheet'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'message_template', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'message_template', 'data-turbolinks-track': true
    = csrf_meta_tag
    :javascript
      window._trans = #{ yield_js_translations.to_json.html_safe }

  %body
    .main
      = render partial: 'shared/headers/message_templates'
      = render partial: 'shared/message_template_flash'
      .container
        = yield
