.child-item
  %h3 Children
  .row.parent-info
    .row  
      = f.text_field :name, :class => 'form-control input-round', :placeholder => "Add your child name"
    .row
      = f.text_field :birth_date, :class => 'datepicker form-control input-round', value: (f.object.birth_date.blank? ? '' : f.object.birth_date.strftime('%d/%m/%Y')), :placeholder => "Year of Birth"
    .row
      = f.fields_for :profile_image do |profile_image|
        = profile_image.file_field :file, :class => 'form-control previewer'
  .row.parent-department  
    %h4 Select Department
    - @departments.each do |department|
      .row
        = f.radio_button :department_id, "#{department.id}", :style => "display: none;"
        = f.label :"department_id_#{department.id}", department.name
  .row
    =custom_link_to_remove_fields "Remove", f, :class => "item-parent btn-round"