<div class="fields">
  <%= f.text_field :name, placeholder: 'Child Name' %>
  <%= f.text_field :birth_date, :class => 'datepicker' %>
  <%= f.fields_for :profile_image do |profile_image| %>
    <%= profile_image.file_field :file %>
  <% end %>
  <%= f.collection_select :department_id, [], :id, :name, { prompt: true }, { :class => "department-select" } %>
  <%= custom_link_to_remove_fields "Remove", f %>
</div>